@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ramaraja&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Cambay&display=swap');

@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
@font-face {
  font-family: 'NeueHelvetica';
  src: url('./fonts/helveticaneue.ttf') format('truetype');
}

html {
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent;
}
::selection {
  background: #FCFC4B;
  color: black;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  user-select: none;
}

/* ***************************************************************************** TRANSITIONS ************************************************************************************ */
.current {
  opacity: 1;
  transition: 1s ease-in-out;
}

/* ***************************************************************************** LOGO ************************************************************************************ */

.logo {
  font-family: 'Mansalva', cursive;
  font-size: 40px;
  margin: 0 20px 0 25px;
}

.logo span {
  position: relative;
  z-index: 20001 !important;
}

#logoRing {
  fill: none;
  stroke-width: 5px;
  stroke: white;
  stroke-dasharray: 300 300;
  stroke-dashoffset: 300;
  transition: stroke-dashoffset 0.75s ease;
}

.logo:hover #logoRing {
  stroke-dashoffset: 0;
}

.logo:active #logoRing {
  fill: white;
}

.logo:active span {
  color: rgb(36, 32, 32);
}

/* ***************************************************************************** HEADER BAR ************************************************************************************ */

#resume {
  margin: 0 0 0 25px;
  font-size: 2.2rem;
  font-family: 'NeueHelvetica';
}

#resume span, #resume img {
  position: absolute;
  top: 0px;
}

#resume.away span, #resume.home img {
  opacity: 0;
  transform: scale(0) rotate(360deg);
  transition: 0.5s;
}

#resume.home span, #resume.away img {
  opacity: 1;
  transform: scale(1) rotate(0deg);
  transition: 0.5s;
}

.header {
  position: fixed;
  z-index: 99;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.header a {
  color: white;
  text-decoration: none;
  opacity: 0.7;
  transition: 0.3s;
  user-select: none;
}

.header a:hover {
  color: white;
  text-decoration: none;
  opacity: 1.0;
  transition: 0.3s;
}

.header .left, .header .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 99;
}

.header .left {
  position: relative;
  right: 100px;
  transition: 0.75s;
}

.header .left a {
  color: white;
}

.header .left.show {
  right: 0px;
  transition: right 0.8s;
}

.header .left .logo {
  opacity: 0;
  transition: 0.3s ease-in;
  cursor: default;
}

.header .left.show .logo {
  opacity: 1;
  transition: 0.5s ease-in;
  margin: 0 0 0 25px;
  cursor: pointer;
}

.header .center {
  position: absolute;
  left: 10%;
  z-index: 10 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 79%;
  font-family: 'Abel', serif;
  font-size: 2.2rem;
  opacity: 0;
  transform: scaleY(0);
  transition: 0.5s;
}

.center.show {
  opacity: 1;
  transform: scaleY(1);
  transition: 0.5s;
}

.center.show a::after, .links a::after {
  content: '';
  display: block;
  width: 0;
  height: 0.1rem;
  background: #FFFFFF;
  transition: 0.3s;
  opacity: 0.7;
}

.center.show a:hover::after, .center.show .active::after, .links a:hover::after {
  width: 100%;
  opacity: 1;
}

.center .active  {
  pointer-events: none;
  opacity: 1;
  transition: 0.3s;
}

.right a {
  height: 50x;
  width: 50px;
  padding: 6px;
  border-radius: 5px;
}

#linkedin {
  background: linear-gradient(to right, #0E76A8 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

#github {
  background: linear-gradient(to right, #4F277B, #A048AC 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

#linkedin:hover, #github:hover, #github.green:hover, #github.orange:hover, #github.purple:hover {
  background-position: left bottom;
  transition: all 0.5s ease;
}

/* ***************************************************************************** CONTENT DATA ******************************************************************************** */

.main h1 {
  font-size: 5.65rem !important;
  text-align: center;
  margin: 5px 0 5px 0;
  padding: 0;
  letter-spacing: .25rem;
  word-break: keep-all;
  user-select: all;
}

@keyframes bg-anim {
  0% { background-position: 100px 100px; }
}

.main h3 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 3.5rem;
  width: 100vw;
  height: 40vh;
  color: black;
  background: url('./assets/gridplum.png') repeat 0 0;
  user-select: none;

  animation: bg-anim 3s infinite;
  animation-timing-function: linear;
}

.main h3:after {
  display: flex;
  content: '';
  padding-left: 0.05rem;
  width: 0px;
  overflow: hidden;
  white-space: pre;
  animation: typewrite 32s steps(12) infinite normal,
    caret 1s steps(2) infinite normal;
}

/******************** TYPING ANIMATION *********************/
@keyframes typewrite {
  0%, 18.75% {
    width: 3px;
    content: ' a designer.';
  }

  6.25%, 12.5% {
    width: 6.66em;
    content: ' a designer.';
  }

  25%, 43.75% {
    width: 3px;
    content: ' an innovator.';
    animation-timing-function: steps(14);
  }

  31.25%, 37.5% {
    width: 7.74em;
    content: ' an innovator.';
    animation-timing-function: steps(14);
  }

  50%, 68.75% {
    width: 3px;
    content: ' a collaborator.';
    animation-timing-function: steps(16);
  }

  56.25%, 62.5% {
    width: 8.86em;
    content: ' a collaborator.';
    animation-timing-function: steps(16);
  }

  75%, 93.75% {
    width: 3px;
    content: ' a developer.';
    animation-timing-function: steps(13);
  }

  81.25%, 87.5% {
    width: 7.18em;
    content: ' a developer.';
    animation-timing-function: steps(13);
  }

  100% {
    width: 3px;
    content: '';
  }
}

@keyframes caret {
  from {border-right: 3px solid #0F0F0F}
  to {border-right: none;}
}

@media (max-width: 1120px) {
  .main h1 {
    font-size: 4.4rem !important;
  }

  .main h3 {
    font-size: 3rem;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: 'Cinzel', serif;
  /* Abel, Cinzel, Old Standard TT, Cardo, Nanum Myeongjo, Yeseva One, Prata, Cormorant, Abhaya Libre, Oranienbaum, Gilda Display, Libre Caslon Display */
  z-index: 1;
}

.main p {
  font-family: 'Abel', serif;
  position: absolute;
  bottom: 5px;
}

.links {
  margin-top: -1rem;
  width: 40vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.links a {
  padding-top: 10px;
  opacity: 0.7;
  color: white;
  font-size: 1.5rem;
  font-family: 'NeueHelvetica';
  text-decoration: none;
  transition: 0.3s;
}

.links a:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}

.biography, .projects, .contact {
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credits {
  user-select: none;
}

.credits span {
  user-select: all;
}

/* ***************************************************************************** BIOGRAPHY ************************************************************************************ */
.view {
  overflow: hidden;
  transition: 0.5s;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  top: 0;
  left: 0;
  filter: blur(10px) brightness(0.5);
  transition: 0.3s;
}

.background.active {
  opacity: 1;
  transition: 0.7s;
}

.slide {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.4s;
}

.slide.next .text, .slide.next .image {
  transform: translate3d(0,150%,0) scale(0.7); 
  transition: 0.5s ease-in;
}

.slide.active {
  opacity: 1;
  z-index: 10;
  transition: 1s;
  transition-delay: 0.35s;
}

.slide.active .text, .slide.active .image {
  transform: translate3d(0,0,0) scale(1);
  transition: 0.9s ease;
  transition-delay: 0.25s;
}

.slide .text .title {
  font-size: 4rem;
  font-weight: 700;
  font-family: 'NeueHelvetica';
}

.slide .text {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1.5rem;
  width: 50%;
  min-width: 25%;
  padding: 0 3.15rem 0 3.15rem;
  word-break: keep-all;
}



.slide.prev .text {
  transform: translate3d(0, -150%, 0) scale(0.7);
  transition: 0.5s ease-in;
}

.slide img {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  flex-shrink: 0;
}

.slide .image {
  height: 100%;
  width: 50%;
  user-select: none;
}

.slide.prev .image {
  transform: translate3d(0, -75%, 0) scale(0.7);
  transition: 0.5s ease-in;
}

.slideNav {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 3.15rem;
  left: calc(50% - 100px);
  z-index: 20001;
  user-select: none;
}

.slideNav .pipBox {
  margin: 0px 12px;
  display: flex;
  flex-direction: row;
}

.pip circle {
  fill: transparent;
  transition: 0.3s fill ease-out;
  cursor: pointer;
}

.pip.active circle {
  fill: white;
  transition: 0.3s fill ease-in;
  cursor: default;
}

.slideNav #leftArrow {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.slideNav #leftArrow:hover {
  padding: 0 12px 0 0;
  margin: 0 0 0 -12px;
  transition: 0.3s ease-in-out;
}

.slideNav #rightArrow {
  transform: scaleX(-1);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.slideNav #rightArrow:hover {
  padding: 0 12px 0 0;
  margin: 0 -12px 0 0;
  transition: 0.3s ease-in-out;
}

.poof {
  opacity: 0;
  transform: scale(0) !important;
  transition: 0.3s;
}

.appear {
  opacity: 1;
  transform: scale(1);
  transition: 0.3s;
}

.emailAddress img.poof {
  margin-right: -5rem;
}

.emailAddress img.appear {
  margin-right: 1rem;
}

/* ***************************************************************************** PROJECTS ************************************************************************************ */

.showcaseplus .slide {
  overflow: hidden;
  width: 1152px;
  height: 60%;
  left: 50%;
  margin-left: -576px;
  top: 50%;
  margin-top: -30vh;
  z-index: 1;
}

.showcaseplus .slide.next, .showcaseplus .slide.prev {
  opacity: 0;
  transition: 0.5s ease-out;
  transition-delay: 0.5s;
  z-index: 0;
}

.showcaseplus .slide.active {
  opacity: 1;
  transition: 0.5s ease-in;
  transition-delay: 0.5s;
  z-index: 100;
}

.showcaseplus .image {
  overflow: hidden;
}


.showcaseplus .slide.active .image, .showcaseplus .slide.active .text {
  transform: translate3d(0, 0, 0);
  transition: 1s ease-out;
  z-index: 100;
}

.showcaseplus .slide.next .image, .showcaseplus .slide.prev .text {
  transform: translate3d(0, 1000px, 0);
  opacity: 0;
  transition: 1s ease-in;
  z-index: 0;
}

.showcaseplus .slide.prev .image, .showcaseplus .slide.next .text {
  transform: translate3d(0, -1000px, 0);
  opacity: 0;
  transition: 1s ease-in;
  z-index: 0;
}

.showcaseplus .text {
  font-size: 1.5rem;
  padding: 3.15rem;
  color: black;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.showcaseplus .title {
  font-size: 3rem !important;
}

.hideView {
  cursor: pointer;
  user-select: none;
  padding: 10px;
  position: absolute;
  right: 0.5rem;
  bottom: 1rem;
  border: 0.05rem solid white;
  background-color: white;
  color: black;
  border-radius: 20px;
  transition: 0.3s;
}

.hideView:hover {
  background-color: transparent;
  color: white;
  transition: 0.3s;
}

.hideView:active {
  background-color: gray;
  transition: 0.3s;
}

.unblur {
  filter: blur(0px) brightness(1);
}

.view.hidden {
  opacity: 0;
  transition: 0.3s;
}

#github.green {
  background: linear-gradient(to right, #46FF52 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: 0.3s;
}

#github.orange {
  background: linear-gradient(to right, #EA6341, #2C265A 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: 0.3s;
}

#github.purple {
  background: linear-gradient(to right, #7289DA 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: 0.3s;
}

@media (max-width: 1500px), (max-height: 800px) {
  .showcase .text {
    font-size: 1.25rem;
  }

  .showcase .title {
    font-size: 3.5rem !important;
  }

  .showcaseplus .text {
    font-size: 1.25rem;
  }

  .showcaseplus .title {
    font-size: 2.5rem !important;
  }
}

/* ***************************************************************************** CONTACT ************************************************************************************ */

.contact {
  justify-content: space-around;
  flex-direction: column;
  min-height: 400px;
  min-width: 950px;
  width: 80vw;
}

.contact h2 {
  font-size: 45px;
  margin: 10px 0px;
  user-select: none;
  font-family: 'NeueHelvetica';
}

.contact .info {
  height: 150px;
  width: 400px;
  background-color: white;
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 20px;
  border-radius: 10px;
  text-align: left;
}

.contact .emailForm {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 900px);
  min-width: 500px;
}

.inputField {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 10px 0px 10px;
  width: 100%;
}

.inputField img {
  position: absolute;
  margin: -3px 0 0 0;
  width: 30px;
  display: inline-block;
}

.check {
  stroke-dasharray: 1000;
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 1s .35s ease-in-out forwards;
  animation: dash-check 1s .35s ease-in-out forwards;
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.inputField input, .contact .emailForm textarea {
  opacity: 0.6;
  transition: 0.3s ease;
}

.inputField:hover input, .inputField input:focus, .emailForm textarea:focus, .emailForm textarea:hover {
  opacity: 1.0;
  outline: none;
  transition: 0.3s ease;
}

.inputField input, .contact .emailForm textarea {
  background-color: white;
  color: black;
  resize: none;

  padding: 5px 10px;
  margin: 0px 0px 10px 0px;
  border: none;
  border-radius: 10px;
}

.contact .emailForm textarea {
  height: 200px;
}

.inputField input::placeholder, .contact .emailForm textarea::placeholder {
  color: #929D9E;
}

.filled {
  opacity: 1 !important;
}

.contact .emailForm button, .sendEmail {
  border: 3px solid white;
  padding: 0.75rem 2.25rem;
  border-radius: 25px;
  background: linear-gradient(to bottom, white 50%,transparent 50%);
  background-size: 100% 200%;
  background-position: left bottom;
  color: white;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  position: static;
  user-select: none;
}

.contact .emailForm button:hover, .sendEmail:hover {
  transition: 0.3s ease-in-out;
  background-position: left top;
  font-size: 1.25rem;
  margin: -0.20rem;
  color: black;
}

.contact .selfEmail {
  margin: 15px 0 0 0;
}

.emailAddress {
  position: relative;
  font-size: 2rem;
  user-select: text;
  cursor: pointer;
}

.emailAddress img {
  max-width: 5rem;
  padding: 0.5rem;
  border: 0.25rem solid white;
  border-radius: 50px;
  margin-right: 1rem;
  user-select: none;
}

.bubble {
  font-size: 1.25rem;
  background-color: white;
  color: black;
  padding: 0.5rem 0.5rem 0.75rem 0.5rem;
  border-radius: 20px;
  margin-left: -5rem;
  user-select: none;
}

.bubble.appear {
  margin-left: 1rem;
}

.bubble.appear::after {
  content: "";
  position: absolute;
  top: 2.125rem;
  right: 4rem;
  margin-right: 20px;
  border-width: 7.5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

/* Testing Transitions */

.fade-enter {
  opacity: 0;
  transition: 0.5s ease-in;
  transform: translate3d(0, 150%, 0);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: 0.5s ease-in;
  transform: translate3d(0, 0px, 0);
}

.fade-exit {
  opacity: 1;
  transition: 0.5s ease-in;
  transform: translate3d(0, 0px, 0);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: 0.5s ease-in;
  transform: translate3d(0, -150%, 0);
}
